body {
background-color: #363400;

}


.jumbotron{
background-image: url('lookout-mountain-hike-mount-hood-view.jpg');
    background-size: cover;
  color:white;
background-color:transparent;
    border-color:transparent;
	min-height:100px;
}
.space {
	min-height:20px;
}


td{
	padding:5px;

}

table {
    display:none;
    padding:5px;
	color:white;

}
tr:hover {
    
    color:black;
}
.wtxt
	color:white;
}
/*Background Color #363400 Dark Accent #2A2800 Dark Mid accent #464303 Mid Light accent #736E00 Light Accent #A8A200  http://paletton.com/#uid=11N0u0kJS6KvW5fuP8MNdeqCnl7 *
