body {
background-color: #000000;
    color:white;
}


#bClick:hover {
    background-color:red;
}
.jumbotron{
background-image: url('pdxskylinezoom.jpg');
    background-repeat:no-repeat;
    color:black;
background-color: orange;
}
